<header id="header" class="d-none d-lg-block">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            <a class="navbar-brand" href="{{ path('home') }}">
                <img src="{{ asset('images/logo.png') }}" alt="Logo Snowtricks" width="100px">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if app.request.get('_route') == 'home' %}active{% endif %}" href="{{ path('home') }}">Figures</a>
                    </li>
                    {% if app.user == null %}
                        <li class="nav-item ms-2">
                            <a href="{{ path('register') }}" class="nav-link {% if app.request.get('_route') == 'register' %}active{% endif %}">Inscription</a>
                        </li>
                        <li class="nav-item ms-2">
                            <a href="{{ path('login') }}" class="nav-link {% if app.request.get('_route') == 'login' %}active{% endif %}">Connexion</a>
                        </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'edit_profile' %}active{% endif %}" href="{{ path('edit_profile') }}">Profil</a>
                            </li>
                            {% if app.user.isAdmin %}
                            <li class="nav-item ms-2">
                                <a class="nav-link {% if app.request.get('_route') == 'dashboard_users' %}active{% endif %}" href="{{ path('dashboard_users') }}">Administration</a>
                            </li>
                            {% endif %}
                        <li class="nav-item ms-2">
                            <a href="{{ path('app_logout') }}" class="nav-link" >Déconnexion</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>

<header id="header" class="d-lg-none position-fixed bottom-0 start-0 end-0 shadow-lg" style="z-index: 999">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="container">
            {#    accueil    #}
            <a href="{{ path('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none">
                    <path d="M5 14.0585C5 13.0494 5 12.5448 5.22166 12.1141C5.44333 11.6833 5.8539 11.3901 6.67505 10.8035L10.8375 7.83034C11.3989 7.42938 11.6795 7.2289 12 7.2289C12.3205 7.2289 12.6011 7.42938 13.1625 7.83034L17.325 10.8035C18.1461 11.3901 18.5567 11.6833 18.7783 12.1141C19 12.5448 19 13.0494 19 14.0585V19C19 19.9428 19 20.4142 18.7071 20.7071C18.4142 21 17.9428 21 17 21H7C6.05719 21 5.58579 21 5.29289 20.7071C5 20.4142 5 19.9428 5 19V14.0585Z" fill="#7E869E" fill-opacity="0.25"/>
                    <path d="M3 12.3866C3 12.6535 3 12.7869 3.0841 12.8281C3.16819 12.8692 3.27352 12.7873 3.48418 12.6234L10.7721 6.95502C11.362 6.49625 11.6569 6.26686 12 6.26686C12.3431 6.26686 12.638 6.49625 13.2279 6.95502L20.5158 12.6234C20.7265 12.7873 20.8318 12.8692 20.9159 12.8281C21 12.7869 21 12.6535 21 12.3866V11.9782C21 11.4978 21 11.2576 20.8983 11.0497C20.7966 10.8418 20.607 10.6944 20.2279 10.3995L13.2279 4.95502C12.638 4.49625 12.3431 4.26686 12 4.26686C11.6569 4.26686 11.362 4.49625 10.7721 4.95502L3.77212 10.3995C3.39295 10.6944 3.20337 10.8418 3.10168 11.0497C3 11.2576 3 11.4978 3 11.9782V12.3866Z" fill="black"/>
                    <path d="M12.5 15H11.5C10.3954 15 9.5 15.8954 9.5 17V20.85C9.5 20.9328 9.56716 21 9.65 21H14.35C14.4328 21 14.5 20.9328 14.5 20.85V17C14.5 15.8954 13.6046 15 12.5 15Z" fill="black"/>
                    <rect x="16" y="5" width="2" height="4" rx="0.5" fill="black"/>
                </svg>
            </a>
            {#    profil    #}
            <a href="{{ path('edit_profile') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none">
                    <path d="M4 9C4 6.17157 4 4.75736 4.87868 3.87868C5.75736 3 7.17157 3 10 3H14C16.8284 3 18.2426 3 19.1213 3.87868C20 4.75736 20 6.17157 20 9V15.8276C20 18.5109 20 19.8525 19.1557 20.2629C18.3114 20.6733 17.2565 19.8444 15.1465 18.1866L14.4713 17.656C13.2849 16.7239 12.6917 16.2578 12 16.2578C11.3083 16.2578 10.7151 16.7239 9.52871 17.656L8.85346 18.1866C6.74355 19.8444 5.68859 20.6733 4.84429 20.2629C4 19.8525 4 18.5109 4 15.8276V9Z" fill="#7E869E" fill-opacity="0.25" stroke="black" stroke-width="1.4"/>
                </svg>
            </a>
            {% if app.user == null %}
                {#    connexion    #}
                <a href="{{ path('login') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none">
                        <ellipse rx="8" ry="8" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 14 12)" fill="#7E869E" fill-opacity="0.25"/>
                        <path d="M5.7 12C5.7 7.41604 9.41604 3.7 14 3.7C18.584 3.7 22.3 7.41604 22.3 12C22.3 16.584 18.584 20.3 14 20.3C9.41604 20.3 5.7 16.584 5.7 12Z" stroke="#7E869E" stroke-opacity="0.25" stroke-width="0.6"/>
                        <path d="M4.92893 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.0222 21.4135 8.08879 20.3147 6.4443C19.2159 4.79981 17.6541 3.51808 15.8268 2.76121C13.9996 2.00433 11.9889 1.8063 10.0491 2.19215C8.10929 2.578 6.32746 3.53041 4.92893 4.92893" stroke="black" stroke-width="1.2"/>
                        <path d="M15 12L15.4685 11.6252L15.7684 12L15.4685 12.3748L15 12ZM3 12.6C2.66863 12.6 2.4 12.3314 2.4 12C2.4 11.6686 2.66863 11.4 3 11.4V12.6ZM11.4685 6.62518L15.4685 11.6252L14.5315 12.3748L10.5315 7.37482L11.4685 6.62518ZM15.4685 12.3748L11.4685 17.3748L10.5315 16.6252L14.5315 11.6252L15.4685 12.3748ZM15 12.6H3V11.4H15V12.6Z" fill="black"/>
                    </svg>
                </a>
            {% else %}
                {#    déconnexion    #}
                <a href="{{ path('app_logout') }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 24 24" fill="none">
                        <ellipse rx="6" ry="6" transform="matrix(4.37114e-08 -1 -1 -4.37114e-08 14 12)" fill="#7E869E" fill-opacity="0.25"/>
                        <path d="M7.7 12C7.7 8.52061 10.5206 5.7 14 5.7C17.4794 5.7 20.3 8.52061 20.3 12C20.3 15.4794 17.4794 18.3 14 18.3C10.5206 18.3 7.7 15.4794 7.7 12Z" stroke="#7E869E" stroke-opacity="0.25" stroke-width="0.6"/>
                        <path d="M8 18.9282C9.21615 19.6303 10.5957 20 12 20C13.4043 20 14.7838 19.6303 16 18.9282C17.2162 18.2261 18.2261 17.2162 18.9282 16C19.6303 14.7838 20 13.4043 20 12C20 10.5957 19.6303 9.21615 18.9282 8C18.2261 6.78385 17.2162 5.77394 16 5.0718C14.7838 4.36965 13.4043 4 12 4C10.5957 4 9.21615 4.36965 8 5.0718" stroke="black" stroke-width="1.2"/>
                        <path d="M2 12L1.53148 11.6252L1.23163 12L1.53148 12.3748L2 12ZM11 12.6C11.3314 12.6 11.6 12.3314 11.6 12C11.6 11.6686 11.3314 11.4 11 11.4V12.6ZM5.53148 6.62518L1.53148 11.6252L2.46852 12.3748L6.46852 7.37482L5.53148 6.62518ZM1.53148 12.3748L5.53148 17.3748L6.46852 16.6252L2.46852 11.6252L1.53148 12.3748ZM2 12.6H11V11.4H2V12.6Z" fill="black"/>
                    </svg>
                </a>
            {% endif %}
        </div>
    </nav>
</header>